.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 24px;
  color: var(--color-text-main);
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  color: var(--color-text-muted);
}